PRIVATE_KEY=0xf2ff9171d928f1dc4773e569d76624484f6ff93e7a01b7c0f685797c629bb37a
ZKTANENBAUM_RPC_URL=https://rpc-zk.tanenbaum.io
ZKTANENBAUM_CHAIN_ID=57057
ZKTANENBAUM_EXPLORER_URL=https://explorer-zk.tanenbaum.io/
BLOCKCHAIN_RPC_URL=https://rpc-zk.tanenbaum.io
BLOCKCHAIN_CHAIN_ID=57057
# DATABASE
DATABASE_URL="postgresql://postgres:123456@localhost:5432/universidad_voto?schema=public"

# SYSCOIN NEVM (Blockchain)
SYSCOIN_RPC_URL="https://rpc.syscoin.org"
SYSCOIN_CHAIN_ID=57
CONTRACT_ADDRESS="0x1C6819581802af1F0D2F7db678F5Db4808E89186"
VOTING_CONTRACT_ADDRESS="0x1C6819581802af1F0D2F7db678F5Db4808E89186"
VERIFIER_CONTRACT_ADDRESS="0x6486021014bB71921E9b16FF3D70D8B94542986E"
ELECTION_ID="0x7f0a8616f468a02009c72548a40569ef5af21a286b58fbe28a17e74da03f76e1"

# RELAYER & MIXNET
RELAYER_PORT=3012
MIXNET_NODES="node1,node2,node3"

# ADMIN MFA
ADMIN_MFA_SECRET="base32_secret_key"

# FRONTEND
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_WS_URL="ws://localhost:3000"

# GATEWAY
GATEWAY_PORT=3000
CORS_ORIGIN=http://localhost:3001,http://localhost:3002
NODE_ENV=development

# AUTH SERVICE
AUTH_PORT=3001
JWT_SECRET=supersecretjwtkey_change_me_production
JWT_REFRESH_SECRET=supersecretrefreshkey_change_me_production
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# PADRÓN SERVICE
PADRON_PORT=3005

# NOTIFICATION SERVICE
NOTIFICATION_PORT=3009
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=votacion@universidad.edu
WEB_APP_URL=http://localhost:3001

# ADMIN SERVICE
ADMIN_PORT=3013

# FACULTY SERVICE
FACULTY_PORT=3014